body {
    display: block;
    width: 1024px;
    margin: auto;
    background-size: 1024px;
    background-position: center;
    background-image: linear-gradient(to right top, #ffa7c8, #ffafb1, #ffc096, #ffd881, #fff47d);
    background-repeat: no-repeat;
}

header {
    margin: 20px;
    font-family: 'Anton', sans-serif;
    font-size: 40pt;
    text-align: center;
}

img {
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

img:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

li {
    font-family: 'Gayathri', sans-serif;
    font-size: 14pt;
    line-height: 1em;
}

a {
    color: #5AB7F4;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

a:hover {
    color: #3eebff;
}

footer {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
    font-family: 'Gayathri', sans-serif;
    font-size: 14pt;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.25);
}

footer img {
    width: auto;
    height: 3rem;
    border: none;
    border-radius: inherit;
    box-shadow: none;
    float: none;
}

nav {
    height: 2rem;
}

ul.header_nav {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

ul.header_nav li:hover {
    background: rgba(255, 255, 255, 0.25);
}

ul.header_nav li {
    padding: 0 .2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul.header_nav li a {
    text-decoration: none;
}

figure {
    display: flex;
    flex-flow: column;
    float: right;
    width: 200px;
    height: 200px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000000;
}

figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}